* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: white;
	--secondary-color: black;
}

.dark-theme {
	--primary-color: #212121;
	--secondary-color: #fff;
}

.navbar {
	background-color: var(--primary-color);
}

.nav-link {
	color: var(--secondary-color);
	font-size: 1rem;
	font-weight: 700;
	cursor: pointer;
	text-decoration: none;
}
/* .nav-link:hover {
	color: var(--primary-color);
	background-color: var(--secondary-color);
} */
.navbar-brand {
	font-size: 1.25rem;
	font-weight: 800;
	color: var(--secondary-color);
	cursor: pointer;
}
