* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: white;
	--secondary-color: black;
}

.dark-theme {
	--primary-color: #212121;
	--secondary-color: #fff;
}

.navbar {
	background-color: var(--primary-color);
}

.nav-link {
	color: var(--secondary-color);
	font-size: 1rem;
	font-weight: 700;
	cursor: pointer;
	text-decoration: none;
}
.nav-link:hover {
	color: var(--primary-color);
	background-color: var(--secondary-color);
}
.navbar-brand {
	font-size: 1.25rem;
	font-weight: 800;
	color: var(--secondary-color);
	cursor: pointer;
}

/* MAIN SECTION */

.main {
	/* background: url(img/Animation\ -\ 1689633033017.html)no-repeat;
    background-size: cover; */
	width: 100%;
	height: 95vh;
}

.main h3 {
	font-size: 4.4rem;
	font-weight: 700;
}

.main h6 {
	font-size: 1.4rem;
	text-transform: uppercase;
	line-height: 1;
	border-bottom: 3px solid rgb(233, 20, 109);
	width: 35%;
}

.main .bt1 {
	height: 55px;
	width: 138px;
	background-color: rgb(233, 20, 109);
	color: var(--primary-color);
	outline: none;
	border: none;
	font-weight: bold;
	border-radius: 5px;
}
.main .bt1:hover {
	background-color: rgb(202, 25, 98);
	transition: 0.5s;
}
.main .bt2 {
	height: 55px;
	width: 138px;
	background-color: transparent;
	color: rgb(233, 20, 109);
	outline: none;
	border: 1px solid rgb(233, 20, 109);
	font-weight: bold;
	border-radius: 5px;
}
.main .bt2:hover {
	background-color: rgb(233, 20, 109);
	transition: 0.5s;
	color: var(--primary-color);
}
/* ABOUT SECTION */

.about img {
	-webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.75);
}
h1 {
	font-size: 3rem;
	font-weight: 900;
}
.progress {
	background-color: rgb(223, 218, 218);
	justify-content: flex-start;
	border-radius: 50px;
	align-items: center;
	position: relative;
	display: flex;
	height: 45px;
	width: 100%;

	-webkit-box-shadow: inset 3px 7px 28px 4px rgba(0, 0, 0, 0.28);
	-moz-box-shadow: inset 3px 7px 28px 4px rgba(0, 0, 0, 0.28);
	box-shadow: inset 3px 7px 28px 4px rgba(0, 0, 0, 0.28);
}

.pro-value1 {
	animation: load1 3s normal forwards;
	border-radius: 50px;
	background-color: var(--secondary-color);
	height: 25px;
	width: 0;
}
.pro-value2 {
	animation: load2 3s normal forwards;
	border-radius: 50px;
	background-color: var(--secondary-color);
	height: 25px;
	width: 0;
}
.pro-value3 {
	animation: load3 3s normal forwards;
	border-radius: 50px;
	background-color: var(--secondary-color);
	height: 25px;
	width: 0;
}
.pro-value4 {
	animation: load4 3s normal forwards;
	border-radius: 50px;
	background-color: var(--secondary-color);
	height: 25px;
	width: 0;
}
.pro-value5 {
	animation: load5 3s normal forwards;
	border-radius: 50px;
	background-color: var(--secondary-color);
	height: 25px;
	width: 0;
}
.progress p {
	color: var(--primary-color);
	padding: 6px;
}

@keyframes load1 {
	0% {
		width: 0;
	}
	100% {
		width: 95%;
	}
}
@keyframes load2 {
	0% {
		width: 0;
	}
	100% {
		width: 85%;
	}
}
@keyframes load3 {
	0% {
		width: 0;
	}
	100% {
		width: 80%;
	}
}
@keyframes load4 {
	0% {
		width: 0;
	}
	100% {
		width: 30%;
	}
}
@keyframes load5 {
	0% {
		width: 0;
	}
	100% {
		width: 99%;
	}
}

.btn1 {
	height: 40px;
	width: 145px;
	outline: none;
	border: none;
	background-color: var(--secondary-color);
	color: var(--primary-color);
	border-radius: 4px;
	text-decoration: none;
}
.btn1:hover {
	background-color: transparent;
	color: var(--secondary-color);
	border: 1px solid var(--secondary-color);
	transition: 0.5s;
}

.btn2 {
	height: 40px;
	width: 145px;
	outline: none;
	border: 1px solid var(--secondary-color);
	background-color: transparent;
	color: var(--secondary-color);
	border-radius: 4px;
}

.btn2:hover {
	background-color: var(--secondary-color);
	color: var(--primary-color);
	border: none;
	transition: 0.5s;
}

/* PORTFOLIO */

.control ul li {
	list-style: none;
	background-color: var(--secondary-color);
	padding: 5px 15px;
	color: var(--primary-color);
	display: inline-block;
	cursor: pointer;
	letter-spacing: 2px;
}

.item {
	width: 320px;
	height: 400px;
	border-radius: 20px;
	overflow: hidden;
	/* border: 8px solid rgb(66, 66, 66); */
	position: relative;
}

.item-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 15px;
}
.item-body {
	width: 100%;
	height: 100%;
	top: 0;
	right: -100%;
	position: absolute;
	background: rgba(119, 30, 163, 0.37);
	backdrop-filter: blur(5px);
	border-radius: 15px;
	color: var(--primary-color);
	padding: 30px;
	transition: 2s;
}

.item:hover .item-body {
	right: 0;
}

.item-title {
	text-transform: uppercase;
	font-size: 20px;
	margin: 20px 0;
	font-weight: 400;
}

.item-info {
	font-size: 16px;
	line-height: 25px;
}

.item-btn1 {
	height: 40px;
	width: 80px;
	outline: none;
	border: none;
	background-color: var(--secondary-color);
	color: var(--primary-color);
	border-radius: 4px;
	margin: 40px 0;
}

.item-btn1:hover {
	background-color: transparent;
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
	transition: 0.5s;
}

.item-btn2 {
	height: 40px;
	width: 80px;
	outline: none;
	border: 1px solid var(--primary-color);
	background-color: transparent;
	color: var(--primary-color);
	border-radius: 4px;
	margin: 40px 0;
}

.item-btn2:hover {
	background-color: var(--secondary-color);
	color: var(--primary-color);
	border: none;
	transition: 0.5s;
}

.circle {
	height: 70px;
	width: 70px;
	background-color: rgb(228, 220, 220);
	color: var(--secondary-color);
	padding: 12px;
	font-size: 30px;
	border-radius: 50%;
	display: inline-block;
	margin-bottom: 20px;
}

.circle:hover {
	background-color: var(--secondary-color);
	transition: 0.4s;
	color: var(--primary-color);
}

form .error {
	color: #ff0000;
}

.contact .btn3 {
	background-color: var(--secondary-color);
	color: var(--primary-color);
	outline: none;
	border: none;
	height: 40px;
	width: 140px;
	border-radius: 4px;
}

input.error {
	border: 1px dashed red;
	font-weight: 300;
	color: red;
}

.btn3:hover {
	background: var(--primary-color);
	color: var(--secondary-color);
	transition: 0.4s;
	border: 1px solid var(--secondary-color);
}

footer {
	background-color: rgb(32, 29, 29);
	color: lightgray;
}

@media (prefers-color-scheme: dark) {
	body {
		background: #000;
	}
}

.hidden {
	display: none;
}

/* slide in animation
.slide-in {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    /* transition: all 1s; */

/* .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: 1s;
  } */

